name: PR Gate

on:
  pull_request:
    branches: [ main, release/*, feature/* ]
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core 8
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 8.0.x
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Debug --no-restore
    - name: Test
      run: dotnet test --configuration Debug --no-build --no-restore -v normal
    - name: Pack
      run: dotnet pack --configuration Debug --no-build --no-restore -v normal
